/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* 사용하고자 하는 폰트로 변경 */
}

.user-insert-box {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1349px;
  height: 439.04px;
  position: absolute;
  left: 71px;
  top: 119px;
}
.user-inser-header {
  background: #33363d;
  width: 1346.55px;
  height: 53.96px;
  position: absolute;
  left: 72.23px;
  top: 120.23px;
  font-size : 25px;
  color : white;
}
.user-no-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 126.32px;
  height: 25.75px;
  position: absolute;
  left: 91.85px;
  top: 193.81px;
  text-align : center;
}
.user-buso-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 126.32px;
  height: 25.75px;
  position: absolute;
  left: 91.85px;
  top: 222.01px;
  text-align : center;
}
.user-name-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 132.45px;
  height: 25.75px;
  position: absolute;
  left: 738.14px;
  top: 193.81px;
  text-align : center;
}
.user-jick-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 132.45px;
  height: 25.75px;
  position: absolute;
  left: 738.14px;
  top: 222.01px;
  text-align : center;
}
.user-jdate-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 126.32px;
  height: 25.75px;
  position: absolute;
  left: 91.85px;
  top: 250.22px;
  text-align : center;
}
.user-odate-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 132.45px;
  height: 25.75px;
  position: absolute;
  left: 738.14px;
  top: 250.22px;
  text-align : center;
}
.user-id-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 126.32px;
  height: 25.75px;
  position: absolute;
  left: 91.85px;
  top: 278.43px;
  text-align : center;
}
.user-pwd-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 132.45px;
  height: 25.75px;
  position: absolute;
  left: 738.14px;
  top: 278.43px;
  text-align : center;
}
.user-phone-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 126.32px;
  height: 41.7px;
  position: absolute;
  left: 91.85px;
  top: 306.63px;
  text-align : center;
}
.user-add-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 126.32px;
  height: 25.75px;
  position: absolute;
  left: 91.85px;
  top: 350.78px;
  text-align : center;
}
.user-bigo-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 126.32px;
  height: 44.15px;
  position: absolute;
  left: 91.85px;
  top: 378.99px;
  text-align : center;
}
.user-sms-box {
  background: #dddddd;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 132.45px;
  height: 41.7px;
  position: absolute;
  left: 738.14px;
  top: 306.63px;
  text-align : center;
}
.user-no {
  background: #ffffff;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 515.07px;
  height: 25.75px;
  position: absolute;
  left: 220.62px;
  top: 193.81px;
}
.user-name {
  background: #ffffff;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 515.07px;
  height: 25.75px;
  position: absolute;
  left: 873.04px;
  top: 193.81px;
}
.user-buso {
  background: #ffffff;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 515.07px;
  height: 25.75px;
  position: absolute;
  left: 220.62px;
  top: 222.01px;
}
.user-jick {
  background: #ffffff;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 515.07px;
  height: 25.75px;
  position: absolute;
  left: 873.04px;
  top: 222.01px;
}
.user-jdate {
  background: #ffffff;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 132.45px;
  height: 25.75px;
  position: absolute;
  left: 220.62px;
  top: 250.22px;
}
.user-odate {
  background: #ffffff;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 132.45px;
  height: 25.75px;
  position: absolute;
  left: 873.04px;
  top: 250.22px;
}
.user-id {
  background: #ffffff;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 515.07px;
  height: 25.75px;
  position: absolute;
  left: 220.62px;
  top: 278.43px;
}
.user-pwd {
  background: #ffffff;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 515.07px;
  height: 25.75px;
  position: absolute;
  left: 873.04px;
  top: 278.43px;
}
.user-phone {
  background: #ffffff;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 515.07px;
  height: 25.75px;
  position: absolute;
  left: 220.62px;
  top: 315.22px;
}
.user-add {
  background: #ffffff;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 1167.5px;
  height: 25.75px;
  position: absolute;
  left: 220.62px;
  top: 350.78px;
}
.user-bigo {
  background: #ffffff;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 1167.5px;
  height: 44.15px;
  position: absolute;
  left: 220.62px;
  top: 378.99px;
}
.save {
  background: #9d9797;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 141.03px;
  height: 38.02px;
  position: absolute;
  left: 595.88px;
  top: 463.61px;
  text-align : center;
  cursor: pointer;
}
.close {
  background: #9d9797;
  border-style: solid;
  border-color: #949494;
  border-width: 1px;
  width: 141.03px;
  height: 38.02px;
  position: absolute;
  left: 754.08px;
  top: 463.61px;
  text-align : center;
  cursor: pointer;
}


.userModal {
    position: fixed; /* 화면에 고정 */
    top: 10%; /* 수직 중앙 */
    left: 15%; /* 수평 중앙 */
    display : none;
    transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

	